@if ($loading()) {
<app-spinner></app-spinner>
}@else {
<article class="flex flex-col gap-10">
  <h1 class="text-5xl md:text-7xl text-white font-bold">Genres</h1>
  <section class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-6">
    @for(genre of $genres(); track genre.id) {
    <figure
      class="flex flex-col gap-2 h-[300px] bg-[#202020] rounded-md md:hover:scale-105 transition-transform duration-300"
    >
      <img
        class="w-auto h-40 rounded-lg object-cover"
        [src]="genre.image_background"
        [alt]="genre.name"
      />
      <figcaption class="p-3">
        <a
          [routerLink]="['/genres', genre.name]"
          class="text-2xl font-bold text-balance text-white hover:text-[#636363] transition-colors"
          >{{ genre.name }}</a
        >
      </figcaption>
    </figure>
    }
  </section>
</article>
}
