<div class="relative h-[300px]">
  <div
    class="flex flex-col w-full z-0 group gap-5 rounded-lg shadow-lg hover:scale-110 hover:absolute hover:top-0 hover:left-0 hover:z-10 transition-transform duration-300 bg-[#202020] text-white"
  >
    <img
      class="w-full h-40 rounded-lg object-cover"
      [ngSrc]="game.background_image"
      width="100"
      height="300"
      alt="{{ game.name }}"
    />

    <div class="p-3 group-hover: flex flex-col gap-5">
      <a
        [routerLink]="['/games', game.id]"
        class="text-2xl font-bold text-balance hover:text-[#636363] transition-colors"
        >{{ game.name }}</a
      >
      <div class="flex-col gap-3 hidden group-hover:flex">
        <div class="flex justify-between">
          <span class="text-xs text-[#636363]">Genres</span>
          <div class="flex gap-2">
            @for (genre of game.genres; track genre.id) {
            <span class="text-xs text-white">{{ genre.name }}</span>
            }
          </div>
        </div>
        <hr class="border-[#636363]" />
        <div class="flex justify-between">
          <span class="text-xs text-[#636363]">Release date</span>
          <span class="text-xs text-white">{{
            game.released | date : "dd/MM/yyyy"
          }}</span>
        </div>
        <hr class="border-[#636363]" />
        <div class="flex justify-between">
          <span class="text-xs text-[#636363]">Release date</span>
          <span class="text-xs text-white">{{
            game.released | date : "dd/MM/yyyy"
          }}</span>
        </div>
        <hr class="border-[#636363]" />
        <div class="flex justify-between">
          <span class="text-xs text-[#636363]">Release date</span>
          <span class="text-xs text-white">{{
            game.released | date : "dd/MM/yyyy"
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
