<aside>
  <nav class="text-white sticky top-0 py-5">
    <ul class="flex flex-col gap-5">
      <li>
        <a
          href="#"
          class="text-2xl block font-bold hover:text-[#636363] transition-colors"
          >Home</a
        >
      </li>

      <li>
        <a
          href="#"
          class="text-2xl block font-bold hover:text-[#636363] transition-colors"
          >Reviews</a
        >
      </li>
      <li class="text-2xl font-bold">
        New Releases
        <ul>
          <li class="text-lg font-normal">Last 30 days</li>
          <li class="text-lg font-normal">This week</li>
          <li class="text-lg font-normal">Next week</li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
