<article class="flex flex-col gap-5">
  <div class="flex gap-5">
    <img [src]="gameDetails.background_image" alt="" class="w-[500px] h-auto" />
    <div class="flex flex-col gap-5">
      <h1 class="text-5xl text-white font-bold text-balance">
        {{ gameDetails.name }}
      </h1>
      <div class="flex gap-5 text-white">
        <div class="flex flex-col">
          <span>Exceptional</span>
          <span>174 ratings</span>
        </div>
        <div class="flex flex-col">
          <span>Exceptional</span>
          <span>174 ratings</span>
        </div>
        <div class="flex flex-col">
          <span>Exceptional</span>
          <span>174 ratings</span>
        </div>
      </div>
    </div>
  </div>
</article>
