<div
  class="flex flex-col gap-10"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <div class="flex flex-col gap-3">
    <h1 class="text-7xl text-white font-bold">{{ componentParams.title }}</h1>
    <span class="text-md text-white">{{ componentParams.subtitle }}</span>
  </div>
  @if(componentParams.showFilters){
  <form [formGroup]="form" class="flex gap-5">
    <div>
      <label for="small" class="block mb-2 text-sm font-medium text-white"
        >Order by</label
      >
      <select
        id="small"
        class="block w-full p-2 text-sm text-white rounded-lg bg-[#202020] outline-none"
        formControlName="order"
      >
        <option value="-relevance">Relevance</option>
        <option value="-created">Date added</option>
        <option value="name">Name</option>
        <option value="-released">Release date</option>
        <option value="-added">Popularity</option>
        <option value="-rating">Average rating</option>
      </select>
    </div>
    <div>
      <label for="small" class="block mb-2 text-sm font-medium text-white"
        >Genres</label
      >
      <select
        id="small"
        class="block w-full p-2 text-sm text-white rounded-lg bg-[#202020] outline-none"
        formControlName="genres"
      >
        <option value="" disabled selected>Select your option</option>
        @for(genre of $genres(); track genre.id){
        <option [value]="genre.id">{{ genre.name }}</option>
        }
      </select>
    </div>
  </form>
  }
  <app-game-list [games]="$games()"> </app-game-list>
  @if($loading()) {
  <div class="flex items-center justify-center">
    <app-spinner></app-spinner>
  </div>
  }
</div>
